{{#if loggedIn}}
  <form role="form">
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea name="comment" id="comment" class="form-control" required="required" placeholder="Comment"></textarea>
    </div>
    <input type="submit" class="btn btn-primary pull-right" value="Post Comment"/>
  </form>
{{/if}}
