<div class="media">
    <div class="pull-left text-center">
        {{view voteView}}
    </div>

    <div class="media-body">
        <p>{{author}}, {{posted}}</p>
        <p>{{text}}</p>
    </div>

</div>
