<h1>Here we are</h1>

{{#collection tagName="ul" class="media-list" item-context="linkContext"}}
	<li class="media">
		<div class="pull-left text-center">
			Voting
		</div>
		<div class="media-body">
			<h4 class="media-heading"><a href="{{./url}}" target="_blank">{{title}}</a></h4>

        {{view commentsView}}
		</div>
	</li>
{{/collection}}
