<p>
{{#if loggedIn}}
  {{#button "voteUp" tagName="a" style="cursor: pointer"}}<span class="glyphicon glyphicon-arrow-up"></span>{{/button}}
{{/if}}
</p>
<p>{{votes}}</p>
<p>
{{#if loggedIn}}
  {{#button "voteDown" tagName="a" style="cursor: pointer"}}<span class="glyphicon glyphicon-arrow-down"></span>{{/button}}
{{/if}}
</p>
