{{#if loggedIn}}
  {{#button "voteUp" tagName="a"}}<span class="glyphicon glyphicon-arrow-up"></span>{{/button}}
{{/if}}
{{votes}}
{{#if loggedIn}}
  {{#button "voteDown" tagName="a"}}<span class="glyphicon glyphicon-arrow-down"></span>{{/button}}
{{/if}}
